@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General Rules */

h1,
h2 {
    font-family: Barlow Semi Condensed, sans-serif;
    letter-spacing: 2px;
}

.text-center {
    text-align: center;
}

.text-spacing {
    padding: 30px 30px 0 30px;
}

.spacing {
    padding: 30px 30px 30px 30px;
}

/* Heading */

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    background-color: #F3EADA;

}


.nav-bar {
    background-color: #4C645C;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: baseline;
}

.nav-links {
    text-decoration: none;
    padding: 10px;
    color: white;
    letter-spacing: 2px;
    align-self: baseline;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

#support-us {
    border: 1px solid black;
    background-color: #ECBA0E;
    padding: 10px;
    align-self: baseline;
}

/* Flex box grid style for header */

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.col1 {
    order: 1;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.col2 {
    order: 2;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.col3 {
    order: 3;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

/* Hero Image */

#hero-image-container {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-image-text {
    font-family: Nunito, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: white;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Page style */
.page-style {
    margin: 40px 180px;
    background-color: white;
}

/* Welcome Paragraph */

#welcome-paragraph {
    padding: 30px;
    text-align: center;
}

#welcome-paragraph>h3 {
    font-family: Barlow Semi Condensed, sans-serif;
    letter-spacing: 1px;
    font-size: 26px;
}

/* Welcome Paragraph extended */

.welcome-extended-container {
    display: flex;
}

.welcome-extended-left {
    flex: 45%;
    padding: 10px 30px 30px 30px;
}

.welcome-extended-right {
    flex: 55%;
    padding: 10px 30px 30px 10px;
}

#dirt-path {
    width: 100%;
    border-radius: 10px;
}

.extended-text {
    text-align: center;
}

/* Quote */

#quote {
    text-align: center;
    font-style: italic;
    font-size: 18px;

    padding: 30px;
}

/* Links to Wildlife, Sports and Recreation,*/

.links-container {
    display: flex;
    position: relative;
    justify-content: center;
}

.links-column {
    flex: 33%;
    margin: 30px;
}

/* Wildlife Link */

#wildlife-image {
    width: 100%;
    border-radius: 50%;
}

#wildlife-link>h3 {
    border-bottom: black solid 1px;
}

/* Sports & Recreaton Link */

#sports-recreation-image {
    width: 100%;
    border-radius: 50%;

}

#sports-recreation-link>h3 {
    border-bottom: black solid 1px;
}

/* How to find us */

#find-us {
    padding: 30px;
}

#find-us-heading {
    text-align: center;
    letter-spacing: 1px;
    font-size: 26px;
    padding: 30px;

}


/* WILDLIFE PAGE */

/* Wildlife page heading */

#wildlife-heading>h2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 26px;
    padding: 30px;
}

#wildlife-heading>p {
    text-align: center;
    padding: 0px 30px 0px 30px;
}

/* Wildlife images */

.wildlife-image {
    width: 100%;
    border-radius: 50%;
}

/* Wildlife page infomation */

.wildlife-center-left>p {
    border-top: 1px solid black;
}

.wildlife-center-right>p {
    border-top: 1px solid black;
}

/* flexbox grid for wildlife page */

.wildlife-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 60px);
    margin: 30px;
}

.wildlife-grid {
    flex-basis: 25%;
    height: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wildlife-grid:nth-child(3n+2) {
    flex: 0 0 50%;
}

.wildlife-center-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 30px;
}

.wildlife-center-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 30px;
}

/* SPORTS PAGE */

/* Sports intro */

#sports-intro {
    padding: 30px;
    text-align: center;
}

/* Sports page content */

.sports-image {
    width: 90%;
    border-radius: 50%;
}

/* Flexbox grid for sports page */

.sports-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
    width: calc(100% - 60px);
}

.sports-grid {
    flex-basis: calc(33.33% - 20px);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.sports-grid p {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Support Us Page */

/* Form */

form {
    background-color: #e2e2e2;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type=submit] {
    display: block;
    margin: 0 auto;
    background-color: #ECBA0E;
}


/* Footer */

footer {
    height: 100px;
    background-color: #4C645C;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5px;
    color: white;
}

#education-declaration {
    text-align: center;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 12px;
}