@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Heading */

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    background-color: #F3EADA;

}

h1,
h2 {
    font-family: Barlow Semi Condensed, sans-serif;
    letter-spacing: 2px;
}

.nav-bar {
    background-color: #4C645C;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-links {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

#support-us {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #ECBA0E;
}

/* Flex box grid style for header */

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.col1 {
    order: 1;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.col2 {
    order: 2;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.col3 {
    order: 3;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

/* Hero Image */

#hero-image-container {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-image-text {
    font-family: Nunito, sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: white;

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Welcome Paragraph */

#welcome-paragraph {
    margin: 50px 120px;
    text-align: center;
}

#welcome-paragraph>h3 {
    font-family: Barlow Semi Condensed, sans-serif;
    letter-spacing: 1px;
    font-size: 26px;
}