@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Heading */

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    
}

h1, h2 {
    font-family: Barlow Semi Condensed, sans-serif;
    letter-spacing: 1px;
}

.nav-bar {
    background-color: #4C645C;
    padding: 30px;
}

.nav-links {
    text-decoration: none;
    color: white;
}

.active {
    text-decoration: underline;
}


/* Flex box grid style */

.container {
    display: block;
    width: 100%;
}
  
.row {
    display: flex;
    flex-wrap: wrap; 
}
  

.col1 {
    order: 1;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.col2 {
    order: 2;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.col3 {
    order: 3;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
