@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    background-color: #F3EADA;

}

/* General Rules */

h1,
h2 {
    font-family: Barlow Semi Condensed, sans-serif;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-spacing {
    padding: 30px 30px 0 30px;
}

.spacing {
    padding: 30px 30px 30px 30px;
}

/* Heading */

.nav-bar {
    background-color: #4C645C;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: baseline;
}

.nav-links {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    letter-spacing: 2px;
    align-self: baseline;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

#support-us {
    border: 1px solid #000000;
    background-color: #ECBA0E;
    padding: 10px;
    margin-right: 10px;
}

#support-us>.nav-links {
    color: #000000;
}

/* Flex box grid style for header */

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.col1 {
    order: 1;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.col2 {
    order: 2;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.col3 {
    order: 3;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

/* Hero Image */

#hero-image-container {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-image-text {
    font-family: Nunito, sans-serif;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    text-align: center;
}

/* Page style */
.page-style {
    margin: 40px 180px;
    background-color: white;
}

/* Welcome Paragraph */

#welcome-paragraph {
    padding: 30px;
    text-align: center;
}

#welcome-paragraph>h3 {
    font-family: Barlow Semi Condensed, sans-serif;
    letter-spacing: 1px;
    font-size: 26px;
}

/* Welcome Paragraph extended */

.welcome-extended-container {
    display: flex;
}

.welcome-extended-left {
    flex: 55%;
    padding: 10px 30px 10px 30px;
}

.welcome-extended-right {
    flex: 45%;
    padding: 10px 30px 10px 30px;
}

#dirt-path {
    width: 100%;
    border-radius: 10px;
}

/* Quote */

#quote {
    text-align: center;
    font-style: italic;
    font-size: 18px;

    padding: 30px;
}

/* Additional Links to Wildlife, Sports and Recreation,*/

.links-container {
    display: flex;
}

.links-column {
    flex: 50%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Additional Links */

.links-column a:hover {
    text-decoration: underline;
}

.links {
    max-width: 400px;
}

.links>h3 {
    border-bottom: #000000 solid 1px;
}

.links-image {
    width: 75%;
    max-width: 350px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* How to find us section*/

#find-us {
    padding: 30px;
}

#find-us-heading {
    text-align: center;
    letter-spacing: 1px;
    font-size: 26px;
    padding: 30px;

}

.map {
    width: 100%;
    height: 450px;
}


/* WILDLIFE PAGE */

/* Wildlife page heading */

#wildlife-heading>h2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 26px;
    padding: 30px;
}

#wildlife-heading>p {
    text-align: center;
    padding: 0px 30px 0px 30px;
}

/* Wildlife images */

.wildlife-image {
    width: 100%;
    border-radius: 50%;
}


/* Wildlife page infomation */

.wildlife-col-large>h3 {
    border-bottom: 1px solid #000000;
}

.wildlife-col-large>p {
    margin-top: 15px;
    padding: 5px;
}

/* flexbox grid and  for wildlife page */

.wildlife-container {
    display: block;
}

.wildlife-row {
    display: flex;
    flex-wrap: wrap;
}

.wildlife-col-small {
    width: 25%;
}

.wildlife-col-large {
    width: 75%;
}

/* SPORTS PAGE */

/* Sports intro */

#sports-intro {
    padding: 30px;
    text-align: center;
}

/* Sports page content */

.sports-image {
    width: 90%;
    border-radius: 50%;
}

/* Flexbox grid for sports page */

.sports-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
    width: calc(100% - 60px);
}

.sports-grid {
    flex-basis: calc(33.33% - 20px);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.sports-grid p {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Support Us Page */

/* Form */

form {
    background-color: #e2e2e2;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type=submit] {
    display: block;
    margin: 0 auto;
    background-color: #ECBA0E;
}


/* Footer */

footer {
    height: 100px;
    background-color: #4C645C;
}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 5px;
    color: #ffffff;
}

#education-declaration {
    text-align: center;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 12px;
    color: #ffffff;
}

/* Media Queries */

/* For large screen sizes 1200px wide and below */

@media screen and (max-width:1200px) {
    .page-style {
        margin: 20px;
    }
}

/* For screen sizes 1000px wide and below */

@media screen and (max-width:1000px) {

    .welcome-extended-container {
        display: flex;
        flex-direction: column;
    }
}

/* For screen sizes 750px wide and below */

@media screen and (max-width:750px) {

    .col2 {
        order: 1;
        width: 100%;
    }

    .col1,
    .col3 {
        order: 2;
        width: 50%;
    }

    .wildlife-row {
        flex-direction: column;
    }

    .wildlife-col-small,
    .wildlife-col-large {
        width: 100%;
    }

    .wildlife-col-small {
        order: 1;
    }

    .wildlife-col-large {
        order: 2;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* For screen sizes 630px wide and below */

@media screen and (max-width: 630px) {

    .sports-container {
        flex-direction: column;
    }
}

/* For screen sizes 450px wide and below */

@media screen and (max-width: 450px) {

    .page-style {
        margin: 0;
    }

    .col1 {
        order: 2;
        width: 100%;
    }

    .col3 {
        order: 3;
        width: 100%;
    }
}