@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Heading */

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;

}

h1,
h2 {
    font-family: Barlow Semi Condensed, sans-serif;
    letter-spacing: 2px;
}

.nav-bar {
    background-color: #4C645C;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-links {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

.nav-bar a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

#support-us {
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #ECBA0E;
}

/* Flex box grid style for header */

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.col1 {
    order: 1;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.col2 {
    order: 2;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}

.col3 {
    order: 3;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

/* Hero Image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}